## Structure is the best foundation for Panda Foo

### Pandas Series

1. built on C
2. built for dataprocessing
3. buit for iterative data process (not just set based...Like sql)
4. built to be easy to get started
5. Built to handle large files

In [5]:
import pandas as pd

In [12]:
testSeries = pd.Series(["po", "tigris", "mantis", "monkey", "crane", "viper"], index=["name1", "name2", "name3", "name4", "name5", "name6"])

In [17]:
testSeries.name6

'viper'

In [20]:
for item in testSeries:
    print(item)

po
tigris
mantis
monkey
crane
viper

In [22]:
testSeries.str.contains("p")

name1     True
name2    False
name3    False
name4    False
name5    False
name6     True
dtype: bool

In [29]:
~testSeries.str.contains("p")

name1    False
name2     True
name3     True
name4     True
name5     True
name6    False
dtype: bool

In [27]:
newTs

name2    tigris
name3    mantis
name4    monkey
name5     crane
dtype: object

## Dataframes

### multiple series in an arrary, programatic representation of a column row dataset.

##### Includes an index if you don't provide one,

In [30]:
d = {'col1' : pd.Series(['one', 'two', 'three'],index=['a', 'b', 'c']),
      'col2' : pd.Series(['abc', 'def', 'ghi', 'jkl'],index=['a', 'b', 'c', 'd'])}

In [33]:
#taking a dictionary and adding some steriods
df = pd.DataFrame(d)

In [39]:
df.head()

    col1 col2
a    one  abc
b    two  def
c  three  ghi
d    NaN  jkl

In [40]:
series = df.col1

In [41]:
series

a      one
b      two
c    three
d      NaN
Name: col1, dtype: object

In [42]:
json = '[{ "id": 1, "first_name": "Efrem", "last_name": "Jory", "email": "ejory0@bloglines.com", "gender": "Male", "ip_address": "188.236.48.65" }, { "id": 2, "first_name": "Tania", "last_name": "Stockman", "email": "tstockman1@spotify.com", "gender": "Female", "ip_address": "246.143.185.178" }, { "id": 3, "first_name": "Kris", "last_name": "Storek", "email": "kstorek2@uol.com.br", "gender": "Female", "ip_address": "116.179.125.159" }, { "id": 4, "first_name": "Willy", "last_name": "Dadswell", "email": "wdadswell3@mapy.cz", "gender": "Female", "ip_address": "226.245.102.20" }, { "id": 5, "first_name": "Becca", "last_name": "Henrion", "email": "bhenrion4@wired.com", "gender": "Female", "ip_address": "63.116.151.183" }]'

In [43]:
newDf = pd.read_json(json)

In [46]:
newDf[["first_name", "last_name"]]

  first_name last_name
0      Efrem      Jory
1      Tania  Stockman
2       Kris    Storek
3      Willy  Dadswell
4      Becca   Henrion

In [57]:
for n, row in newDf.iterrows():
    print(row.email, row.ip_abddress)

ejory0@bloglines.com 188.236.48.65
tstockman1@spotify.com 246.143.185.178
kstorek2@uol.com.br 116.179.125.159
wdadswell3@mapy.cz 226.245.102.20
bhenrion4@wired.com 63.116.151.183

In [59]:
newDf.to_csv('test.csv')

In [60]:
jsonFromUrlDf = pd.read_json("https://jsonplaceholder.typicode.com/posts")

In [62]:
jsonFromUrlDf.head(20)

,body,id,jsonStatus,title,userId
0,quia et suscipit\nsuscipit recusandae consequu...,1,NaN,sunt aut facere repellat provident occaecati e...,1.0
1,est rerum tempore vitae\nsequi sint nihil repr...,2,NaN,qui est esse,1.0
2,et iusto sed quo iure\nvoluptatem occaecati om...,3,NaN,ea molestias quasi exercitationem repellat qui...,1.0
3,ullam et saepe reiciendis voluptatem adipisci\...,4,NaN,eum et est occaecati,1.0
4,repudiandae veniam quaerat sunt sed\nalias aut...,5,NaN,nesciunt quas odio,1.0
5,ut aspernatur corporis harum nihil quis provid...,6,NaN,dolorem eum magni eos aperiam quia,1.0
6,dolore placeat quibusdam ea quo vitae\nmagni q...,7,NaN,magnam facilis autem,1.0
7,dignissimos aperiam dolorem qui eum\nfacilis q...,8,NaN,dolorem dolore est ipsam,1.0
8,consectetur animi nesciunt iure dolore\nenim q...,9,NaN,nesciunt iure omnis dolorem tempora et accusan...,1.0
9,quo et expedita modi cum officia vel magni\ndo...,10,NaN,optio molestias id quia eum,1.0
10,delectus reiciendis molestiae occaecati non mi...,11,NaN,et ea vero quia laudantium autem,2.0
11,itaque id aut magnam\npraesentium quia et ea o...,12,NaN,in quibusdam tempore odit est dolorem,2.0
12,aut dicta possimus sint mollitia voluptas comm...,13,NaN,dolorum ut in voluptas mollitia et saepe quo a...,2.0
13,fuga et accusamus dolorum perferendis illo vol...,14,NaN,voluptatem eligendi optio,2.0
14,reprehenderit quos placeat\nvelit minima offic...,15,NaN,eveniet quod temporibus,2.0
15,suscipit nam nisi quo aperiam aut\nasperiores ...,16,NaN,sint suscipit perspiciatis velit dolorum rerum...,2.0
16,eos voluptas et aut odit natus earum\naspernat...,17,NaN,fugit voluptas sed molestias voluptatem provident,2.0
17,eveniet quo quis\nlaborum totam consequatur no...,18,NaN,voluptate et itaque vero tempora molestiae,2.0
18,illum quis cupiditate provident sit magnam\nea...,19,NaN,adipisci placeat illum aut reiciendis qui,2.0
19,qui consequuntur ducimus possimus quisquam ame...,20,NaN,doloribus ad provident suscipit at,2.0

In [63]:
csvDf = pd.read_csv("MOCK_DATA.csv")

In [64]:
csvDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
id            1000 non-null int64
first_name    1000 non-null object
last_name     1000 non-null object
email         1000 non-null object
gender        1000 non-null object
ip_address    1000 non-null object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [65]:
excelDf = pd.read_excel("MOCK_DATA.xlsx")

In [66]:
excelDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
id             1000 non-null int64
first_name     1000 non-null object
last_name      1000 non-null object
email          1000 non-null object
gender         1000 non-null object
ip_address     1000 non-null object
animal_name    1000 non-null object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [74]:
list = ("jungle", "cat", "owl")

In [76]:
join = "|".join(list)
join

'jungle|cat|owl'

In [95]:
newexceldf = excelDf.where(lambda x:x.animal_name.str.endswith(list)).dropna()

In [96]:
newexceldf.head(20)

,id,first_name,last_name,email,gender,ip_address,animal_name
88,89.0,Garvy,Champ,gchamp2g@patch.com,Male,25.152.201.132,White-browed owl
91,92.0,Joceline,Bartolomeazzi,jbartolomeazzi2j@webmd.com,Female,151.223.215.78,Jungle cat
209,210.0,Carce,Tregidga,ctregidga5t@google.fr,Male,216.171.211.123,"Kangaroo, jungle"
244,245.0,Alameda,Potticary,apotticary6s@ifeng.com,Female,47.21.149.250,Great horned owl
252,253.0,Currey,Tubridy,ctubridy70@amazon.co.uk,Male,212.251.83.189,Madagascar hawk owl
415,416.0,Hugo,McKinless,hmckinlessbj@discuz.net,Male,100.88.140.202,Toddy cat
429,430.0,Paula,Southcomb,psouthcombbx@narod.ru,Female,141.190.171.124,Tiger cat
487,488.0,Schuyler,Groom,sgroomdj@hexun.com,Male,128.174.105.104,European wild cat
553,554.0,Reuben,Clogg,rcloggfd@pagesperso-orange.fr,Male,188.252.49.187,"Kangaroo, jungle"
587,588.0,Doroteya,Poli,dpoligb@mlb.com,Female,118.85.131.240,White-browed owl
657,658.0,Mattie,Adam,madami9@japanpost.jp,Male,96.201.183.40,Burrowing owl
666,667.0,Rufe,Shortt,rshorttii@umn.edu,Male,1.240.63.233,Bobcat
751,752.0,Brandtr,Cardenas,bcardenaskv@nydailynews.com,Male,109.3.168.77,African polecat
758,759.0,Carlin,Monks,cmonksl2@mapquest.com,Male,175.170.5.128,Helmeted guinea fowl
836,837.0,Guntar,McComish,gmccomishn8@cam.ac.uk,Male,15.33.1.243,African wild cat
871,872.0,Guglielmo,Shacklady,gshackladyo7@fastcompany.com,Male,252.206.12.224,Miner's cat
927,928.0,Gustave,Peachment,gpeachmentpr@tinyurl.com,Male,116.178.78.110,Jungle cat
932,933.0,Marsiella,Backs,mbackspw@dion.ne.jp,Female,100.178.201.234,Kaffir cat

In [98]:
newexceldf.loc[newexceldf.animal_name == "Helmeted guinea fowl", 'animal_name'] = '#1 Kungfu Panda Dragon Warrior'

In [101]:
newexceldf.to_csv('final.csv')

In [102]:
newexceldf.sort_values(by=["animal_name"]).to_csv('sortedfinal.csv')