# [Pandas in the DOJO](https://pandas.pydata.org/)

### We need 5 things to get started with pandas

1. Python (with or without a virtual environment - better)
2. pip install Pandas
3. pip install jupyter
4. pip install xlrd - excel reader library
5. pip install pyodbc - odbc read write library

#### [In windows the best solultion is to download and run anaconda.](https://www.anaconda.com/)

#### [jupyter notebook is amazing](www.jupyter.org). It is like a REPL (read–eval–print loop), but you can visually see what you are doing or have done in the past, correct and redo steps without using the up and down button.

## Structure is the best foundation for Panda Foo

### Pandas Series

1. built on C
2. built for dataprocessing
3. buit for iterative data processes (not just set based...Like sql)
4. built to be easy to get started
5. Built to handle large files

In [4]:
import pandas as pd

In [7]:
testSeries = pd.Series(["po", "tigris", "mantis", "monkey", "crane", "viper"], index=["name1", "name2", "name3", "name4", "name5", "name6"])

In [8]:
testSeries.name6

'viper'

In [9]:
for item in testSeries:
    print(item)

po
tigris
mantis
monkey
crane
viper

In [22]:
testSeries.str.contains("p")

name1     True
name2    False
name3    False
name4    False
name5    False
name6     True
dtype: bool

In [10]:
~testSeries.str.contains("p")

name1    False
name2     True
name3     True
name4     True
name5     True
name6    False
dtype: bool

In [27]:
newTs

name2    tigris
name3    mantis
name4    monkey
name5     crane
dtype: object

## Dataframes

### multiple series in an arrary, programatic representation of a column row dataset.

##### Includes an index if you don't provide one,

In [30]:
d = {'col1' : pd.Series(['one', 'two', 'three'],index=['a', 'b', 'c']),
      'col2' : pd.Series(['abc', 'def', 'ghi', 'jkl'],index=['a', 'b', 'c', 'd'])}

In [33]:
#taking a dictionary and adding some steriods
df = pd.DataFrame(d)

In [39]:
df.head()

    col1 col2
a    one  abc
b    two  def
c  three  ghi
d    NaN  jkl

In [40]:
series = df.col1

In [2]:
series

NameError: name 'series' is not defined

## Loading Json

In [42]:
json = '[{ "id": 1, "first_name": "Efrem", "last_name": "Jory", "email": "ejory0@bloglines.com", "gender": "Male", "ip_address": "188.236.48.65" }, { "id": 2, "first_name": "Tania", "last_name": "Stockman", "email": "tstockman1@spotify.com", "gender": "Female", "ip_address": "246.143.185.178" }, { "id": 3, "first_name": "Kris", "last_name": "Storek", "email": "kstorek2@uol.com.br", "gender": "Female", "ip_address": "116.179.125.159" }, { "id": 4, "first_name": "Willy", "last_name": "Dadswell", "email": "wdadswell3@mapy.cz", "gender": "Female", "ip_address": "226.245.102.20" }, { "id": 5, "first_name": "Becca", "last_name": "Henrion", "email": "bhenrion4@wired.com", "gender": "Female", "ip_address": "63.116.151.183" }]'

In [43]:
newDf = pd.read_json(json)

##### We read the data into a dataframe object. It is no longer treated as its source but as all the attributes of a dataframe object and can be treated as such.

In [46]:
newDf[["first_name", "last_name"]]

  first_name last_name
0      Efrem      Jory
1      Tania  Stockman
2       Kris    Storek
3      Willy  Dadswell
4      Becca   Henrion

#### because we have pulled in the json into a dataframe we use the iterataions functions to get at the data we need to alter

In [57]:
for n, row in newDf.iterrows():
    print(row.email, row.ip_abddress)

ejory0@bloglines.com 188.236.48.65
tstockman1@spotify.com 246.143.185.178
kstorek2@uol.com.br 116.179.125.159
wdadswell3@mapy.cz 226.245.102.20
bhenrion4@wired.com 63.116.151.183

#### after we have pulled some json data in, what if wanted that in another form. Such as CSV. Pandas has all the objects we need to most levels of ETL (Extract, Transform and Load) procedures

In [59]:
newDf.to_csv('test.csv')

#### we can also read the json from a url.

In [9]:
jsonFromUrlDf = pd.read_json("https://jsonplaceholder.typicode.com/posts")

#### the head function show us a sample of the data that is in memory

In [10]:
jsonFromUrlDf.head(20)

,body,id,title,userId
0,quia et suscipit\nsuscipit recusandae consequu...,1,sunt aut facere repellat provident occaecati e...,1
1,est rerum tempore vitae\nsequi sint nihil repr...,2,qui est esse,1
2,et iusto sed quo iure\nvoluptatem occaecati om...,3,ea molestias quasi exercitationem repellat qui...,1
3,ullam et saepe reiciendis voluptatem adipisci\...,4,eum et est occaecati,1
4,repudiandae veniam quaerat sunt sed\nalias aut...,5,nesciunt quas odio,1
5,ut aspernatur corporis harum nihil quis provid...,6,dolorem eum magni eos aperiam quia,1
6,dolore placeat quibusdam ea quo vitae\nmagni q...,7,magnam facilis autem,1
7,dignissimos aperiam dolorem qui eum\nfacilis q...,8,dolorem dolore est ipsam,1
8,consectetur animi nesciunt iure dolore\nenim q...,9,nesciunt iure omnis dolorem tempora et accusan...,1
9,quo et expedita modi cum officia vel magni\ndo...,10,optio molestias id quia eum,1
10,delectus reiciendis molestiae occaecati non mi...,11,et ea vero quia laudantium autem,2
11,itaque id aut magnam\npraesentium quia et ea o...,12,in quibusdam tempore odit est dolorem,2
12,aut dicta possimus sint mollitia voluptas comm...,13,dolorum ut in voluptas mollitia et saepe quo a...,2
13,fuga et accusamus dolorum perferendis illo vol...,14,voluptatem eligendi optio,2
14,reprehenderit quos placeat\nvelit minima offic...,15,eveniet quod temporibus,2
15,suscipit nam nisi quo aperiam aut\nasperiores ...,16,sint suscipit perspiciatis velit dolorum rerum...,2
16,eos voluptas et aut odit natus earum\naspernat...,17,fugit voluptas sed molestias voluptatem provident,2
17,eveniet quo quis\nlaborum totam consequatur no...,18,voluptate et itaque vero tempora molestiae,2
18,illum quis cupiditate provident sit magnam\nea...,19,adipisci placeat illum aut reiciendis qui,2
19,qui consequuntur ducimus possimus quisquam ame...,20,doloribus ad provident suscipit at,2

#### we can also inspect the datatypes that were pulled in and see if we need to adjust those and change them to meet our data model.

In [13]:
jsonFromUrlDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
body      100 non-null object
id        100 non-null int64
title     100 non-null object
userId    100 non-null int64
dtypes: int64(2), object(2)
memory usage: 3.2+ KB

#### looking at the above info print out the data type of body is object, id in integer, etc....

In [14]:
csvDf = pd.read_csv("MOCK_DATA.csv")

In [15]:
csvDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
id            1000 non-null int64
first_name    1000 non-null object
last_name     1000 non-null object
email         1000 non-null object
gender        1000 non-null object
ip_address    1000 non-null object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [17]:
excelDf = pd.read_excel("MOCK_DATA.xlsx")

In [18]:
excelDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
id             1000 non-null int64
first_name     1000 non-null object
last_name      1000 non-null object
email          1000 non-null object
gender         1000 non-null object
ip_address     1000 non-null object
animal_name    1000 non-null object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [20]:
excelDf.head()

,id,first_name,last_name,email,gender,ip_address,animal_name
0,1,Renee,Keemar,rkeemar0@homestead.com,Female,204.64.230.229,Water monitor
1,2,Marcel,Grimsell,mgrimsell1@ucoz.com,Male,78.65.112.204,Kafue flats lechwe
2,3,Abelard,Form,aform2@soundcloud.com,Male,144.30.193.192,Rock dove
3,4,Osmond,Luca,oluca3@timesonline.co.uk,Male,69.248.71.82,Woodchuck
4,5,Oren,Joss,ojoss4@ask.com,Male,122.67.43.241,Tasmanian devil

#### what if we wanted to find all the instances of a certain animal names

In [21]:
list = ("jungle", "cat", "owl")

In [22]:
join = "|".join(list)
join

'jungle|cat|owl'

In [23]:
newexceldf = excelDf.where(lambda x:x.animal_name.str.endswith(list)).dropna()

In [24]:
newexceldf.head(20)

,id,first_name,last_name,email,gender,ip_address,animal_name
88,89.0,Garvy,Champ,gchamp2g@patch.com,Male,25.152.201.132,White-browed owl
91,92.0,Joceline,Bartolomeazzi,jbartolomeazzi2j@webmd.com,Female,151.223.215.78,Jungle cat
209,210.0,Carce,Tregidga,ctregidga5t@google.fr,Male,216.171.211.123,"Kangaroo, jungle"
244,245.0,Alameda,Potticary,apotticary6s@ifeng.com,Female,47.21.149.250,Great horned owl
252,253.0,Currey,Tubridy,ctubridy70@amazon.co.uk,Male,212.251.83.189,Madagascar hawk owl
415,416.0,Hugo,McKinless,hmckinlessbj@discuz.net,Male,100.88.140.202,Toddy cat
429,430.0,Paula,Southcomb,psouthcombbx@narod.ru,Female,141.190.171.124,Tiger cat
487,488.0,Schuyler,Groom,sgroomdj@hexun.com,Male,128.174.105.104,European wild cat
553,554.0,Reuben,Clogg,rcloggfd@pagesperso-orange.fr,Male,188.252.49.187,"Kangaroo, jungle"
587,588.0,Doroteya,Poli,dpoligb@mlb.com,Female,118.85.131.240,White-browed owl
657,658.0,Mattie,Adam,madami9@japanpost.jp,Male,96.201.183.40,Burrowing owl
666,667.0,Rufe,Shortt,rshorttii@umn.edu,Male,1.240.63.233,Bobcat
751,752.0,Brandtr,Cardenas,bcardenaskv@nydailynews.com,Male,109.3.168.77,African polecat
758,759.0,Carlin,Monks,cmonksl2@mapquest.com,Male,175.170.5.128,Helmeted guinea fowl
836,837.0,Guntar,McComish,gmccomishn8@cam.ac.uk,Male,15.33.1.243,African wild cat
871,872.0,Guglielmo,Shacklady,gshackladyo7@fastcompany.com,Male,252.206.12.224,Miner's cat
927,928.0,Gustave,Peachment,gpeachmentpr@tinyurl.com,Male,116.178.78.110,Jungle cat
932,933.0,Marsiella,Backs,mbackspw@dion.ne.jp,Female,100.178.201.234,Kaffir cat

#### in a dataframe you can use ["column name"] or .columnName notation. Either works but I have found that in some instances it is better to use the brackets for some reason. I still haven't figured that one out.

#### find and replace made easy

In [25]:
newexceldf.loc[newexceldf.animal_name == "Helmeted guinea fowl", 'animal_name'] = '#1 Kungfu Panda Dragon Warrior'

In [26]:
newexceldf.to_csv('final.csv')

#### any good data platform should have the ability to sort. Pandas can sort dataframes and series, but I will demonstrate with the dataframe object and send it straight out to a csv.

In [102]:
newexceldf.sort_values(by=["animal_name"]).to_csv('sortedfinal.csv')

#### all functions in pandas are set up like maps or filters  in most languages you can string them together.

In [28]:
##DATA BASE ACCESS

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("flights.db")

In [5]:
df = pd.read_sql_query("select * from airlines limit 5;", conn)

In [29]:
df

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N

#### if we want to go the other way with it we can take our sorted new excel data set and send in to the database using "to_sql" = a method to take cleaned or altered data back to the database

#### [link to the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)

In [32]:
newexceldf.sort_values(by=["animal_name"]).to_sql("sortedanimals", conn, if_exists='replace')